et-xmlfile==2.0.0
jinja2==3.1.6
markupsafe==3.0.2
numpy==2.2.4
openpyxl==3.1.5
pandas==2.2.3
pyside6==6.9.0
pyside6-addons==6.9.0
pyside6-essentials==6.9.0
python-dateutil==2.9.0.post0
pytz==2025.2
qt-material==2.14
shiboken6==6.9.0
six==1.17.0
tzdata==2025.2
